@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
$dark: #1d1f29;
$white: #fff;
$light-grey: #f1f3fa;
$grey: #848bab;
$green: #1eb589;
$red: #dc414c;
$blue: #178ff5;
$dark-navy-gray: #252b42; //card (dark mode)
$shadow-midnight: #333a55; //card hover (dark mode)
$btn-background: linear-gradient(245deg, #40db82 0%, #388fe7 100%);
$card-top-border: linear-gradient(
  to bottom,
  #df4896 0%,
  #ee877e 50.91%,
  #fdc366 100%
);

.dark-mode {
  background-color: $dark;
  .card:hover{
    background-color: $shadow-midnight;
  }
}
.light-mode {
  background-color: $white;
  .card:hover {
    background-color: #E1E4F0;
  }
}

.text-color-white {
  color: $white;
}
.text-color-grey {
  color: $grey;
}
.text-color-black {
  color: $dark;
}
.text-color-red{
  color:$red;
}
.card-dark {
  background-color: $dark-navy-gray;
}
.card-light {
  background-color: $light-grey;
}
.blue-top-border {
  border-top: 4px solid $blue;
}
.gradient-top-border {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: $card-top-border;
    border-radius: 8px 8px 0 0;
  }
}
.red-top-border {
  border-top: 4px solid $red;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1110px;
  margin: auto;
  margin-top: 36px;
  font-family: inter;
  // padding: 0px 20px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header-left-content {
    display: flex;
    flex-direction: column;
    gap: 3px;
    .header-title {
      font-size: 28px;
      font-weight: 700;
    }
    .total {
      font-size: 14px;
      font-weight: 700;
    }
  }
  .btn-content {
    display: flex;
    align-items: center;
    gap: 13px;
    .btn-text {
      font-size: 14px;
      font-weight: 700;
    }
    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;

      input {
        opacity: 0;
        width: 0;
        height: 0;
      }
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        background: $btn-background;
      }
      .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: $shadow-midnight;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }

      .slider.round {
        border-radius: 34px;
      }

      .slider.round:before {
        border-radius: 50%;
      }
    }
  }
}

.card-section {
  margin-top: 136px;
  .top-card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .card {
      min-width: 255px;
      height: 216px;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      margin-bottom: 24px;
      cursor: pointer;
      .social-media {
        display: flex;
        align-items: center;
        gap: 8px;
        color: $grey;
        font-size: 12px;
        font-weight: 700;
      }
      .followers {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 9px;
        .count {
          font-size: 56px;
          font-weight: 700;
          line-height: 48px; /* 85.714% */
          letter-spacing: -2px;
        }
        .text {
          color: $grey;
          font-size: 12px;
          font-weight: 400;
          letter-spacing: 5px;
          text-transform: uppercase;
        }
      }
      .today {
        display: flex;
        align-items: center;
        gap: 4px;
        span {
          color: $green;
          font-size: 12px;
          font-weight: 700;
        }
      }
    }
  }
}
.cards-section-title {
  font-size: 24px;
  font-weight: 700;
  margin-top: 46px;
}

.second-card-container {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .card {
    width: 255px;
    height: 125px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0px 20px;
    border-radius: 5px;
    margin-top:24px;
    cursor: pointer;
    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      span {
        color: $grey;
        font-size: 14px;
        font-weight: 700;
      }
    }
    .bottom {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      .count {
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      div {
        display: flex;
        align-items: center;
        gap: 4px;

        span {
          color: #1eb589;
          text-align: right;
          font-family: Inter;
          font-size: 12px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }
    }
  }
}


